<div data-auth-modal class="auth-modal__backdrop visually-hidden">
  <div class="auth-modal">
    <button data-auth-modal-close class="auth-modal__btn-close close-btn">
      <svg width="30" height="30">
        <use href="partials/img/close.svg"></use>
      </svg>
    </button>

    <div class="auth-modal__header">
      <button class="auth-modal__header-button active" type="button" data-auth-modal-signin>
        Sign in
      </button>
      <button class="auth-modal__header-button" type="button" data-auth-modal-reg>
        New account
      </button>
    </div>

    <form data-auth-modal-signin-form class="form">
      <div class="auth-modal__form-container">
        <input class="auth-modal__form-input" type="email" name="email" placeholder="Email" />
        <input
          class="auth-modal__form-input"
          type="password"
          name="passwordSign"
          placeholder="Password"
        />
        <button class="auth-modal__form-sign-eye" type="button">
          <svg class="auth-modal__eye-icon" width="15" height="15">
            <use href="partials/img/symbol-defs.svg#icon-eye"></use>
          </svg>
        </button>
      </div>
      <div class="auth-modal__footer">
        <button type="button" class="auth-modal__footer-button" data-auth-modal-close>
          Cancel
        </button>
        <button disabled="disabled" type="submit" class="auth-modal__footer-button">Log in</button>
      </div>

      <p class="auth-modal__text">or</p>

      <div class="auth-modal__socials">
        <a class="auth-modal__google" href="">
          Sign in with
          <img class="google-icon" src="partials/img/google-logo.png" alt="" />
          Google
        </a>
      </div>
    </form>

    <form data-auth-modal-reg-form class="hide form">
      <div class="auth-modal__form-container">
        <input class="auth-modal__form-input" type="email" name="email" placeholder="Email" />
        <input
          class="auth-modal__form-input"
          type="password"
          name="passwordReg"
          placeholder="Password"
        />
        <button class="auth-modal__form-reg-eye" type="button">
          <svg class="auth-modal__eye-icon" width="15" height="15">
            <use href="partials/img/symbol-defs.svg#icon-eye"></use>
          </svg>
        </button>
      </div>

      <label class="auth-modal__checkbox" for="check">
        <input class="visually-hidden" type="checkbox" name="checkbox" id="check" value="1" />
        <span class="auth-modal__icon-check"></span>
        I agree to the
        <a class="auth-modal__trems-link" href="">Terms</a>
      </label>
      <div class="auth-modal__footer">
        <button type="button" class="auth-modal__footer-button" data-auth-modal-close>
          Cancel
        </button>
        <button disabled="disabled" type="submit" class="auth-modal__footer-button">
          Create Account
        </button>
      </div>
      <p class="auth-modal__text">or</p>
      <div class="auth-modal__socials">
        <a class="auth-modal__google-reg" href="">
          Sign in with
          <img class="google-icon" src="partials/img/google-logo.png" alt="" />
          Google
        </a>
      </div>
    </form>
  </div>
</div>

<div class="terms-modal__backdrop visually-hidden">
  <div class="terms-modal">
    <button class="close-btn">
      <svg width="30" height="30">
        <use href="partials/img/close.svg"></use>
      </svg>
    </button>
    <embed class="terms" src="partials/img/termsOfUse.pdf" />
    <p>
      This browser does not support PDFs. Please download the PDF to view it:
      <a href="partials/img/termsOfUse.pdf" download="TermsOfUse">Download PDF</a>.
    </p>
  </div>
</div>
