<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__info container">
            <p class="footer__info-text">&copy; 2022<span class="line"></span>All Rights Reserved<span class="line"></span>
            </p>
            <div class="footer__info-team">
                <p>Developed with</p> <svg class="icon-heart" width="12" height="11">
                    <use href="./partials/img/heart.svg#logo-heart"></use>
                </svg>
                <p>by<button type="button" class="footer__team-button">GoIT Students</button></p>
            </div>
        </div>
    </div>  
</footer>