<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__info container">
            <p class="footer__info-text">&copy; 2022<span class="line"></span>All Rights Reserved<span class="line"></span>
            </p>
            <div class="footer__info-team">
                <p>Developed with</p> <svg class="icon-heart" width="12" height="11">
                    <use href="./partials/img/heart.svg#logo-heart"></use>
                </svg>
                <p>by<button type="button" class="footer__team-button">GoIT Students</button></p>
            </div>
        </div>
    </div>  
    <div>
        <button class="back_to_top">
            <svg xmlns="http://www.w3.org/2000/svg" class="back-to-top-icon" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11l5-5m0 0l5 5m-5-5v12" />
            </svg>
        </button>
    </div>
   
</footer>