<header class="header">
    <div class="header__container">
     <div class="navi__box">
      <div class="navi__logoblock">
        <img src="../src/partials/img/film.svg" height="24" width="24" alt="Films icon">
        <a class="navi__logo" href="">Filmoteka</a>
      </div>
       <div class="navi__list">
         <button  type="button" class="navi__item navi__item--active" href="">Home</и>
         <button  type="button" class="navi__item" href="">My library</button>
       </div>
     </div>
     <input class="input " type="text" placeholder="Поиск фильмов">  
   </div>    
</header>