<header class="header" data-action="library">
    <div class="header-library__container">
     <div class="navi__box">
      <div class="navi__logoblock">
        <img src="../src/partials/img/film.svg" height="24" width="24" alt="Films icon">
        <a class="navi__logo" href="">Filmoteka</a>
      </div>
       <div class="navi__list" data-action="library">
         <button  type="button" class="navi__item" href="">Home</button>
         <button  type="button" class="navi__item  navi__item--active" href="">My library</button>
       </div>
     </div>
     <div class="navi__buttons">
         <button type="button" class="navi__button">Watched</button>
         <button type="button" class="navi__button">Queue</button>
     </div>
   </div>    
</header>