.hide {
  display: none;
}

.form {
  height: 290px;
}

.auth-modal__backdrop {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;

  @media screen and (max-width: $tablet) {
    padding-top: 93px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.auth-modal__backdrop.visually-hidden {
  opacity: 0;
  pointer-events: none;

  .auth-modal {
    transform: scale(1.1);
  }

  @media screen and (min-width: $tablet) {
    .auth-modal {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }

  @media screen and (min-width: $desktop) {
    .auth-modal {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}

.auth-modal {
  position: relative;
  display: block;
  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;

  transform: scale(1);
  min-height: 300px;
  max-width: 450px;
  margin: 0 auto;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: none;
    width: 480px;
  }

  @media screen and (min-width: $desktop) {
    width: 530px;
    transform: translate(-50%, -50%) scale(1);
  }
}

.auth-modal__btn-close {
  top: 8px;
  right: 8px;
}

.auth-modal__form-icon {
  fill: currentColor;
}

.auth-modal__form-input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding-left: 15px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 3px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: $accent;
  }
}

.auth-modal__header {
  background: #eeeeee;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  width: 100%;
}
.auth-modal__header-button {
  display: block;
  float: left;
  width: 50%;
  padding: 0;
  text-align: center;
  background: #dddddd;
  color: #999999;
  height: 73px;
  line-height: 73px;

  &.active {
    background: #ffffff;
    color: #777777;
  }
}

.auth-modal__footer {
  overflow: hidden;
  margin-top: 30px;

  [data-auth-modal-signin-form] & {
    margin-top: 64px;
  }
}

.auth-modal__footer-button {
  background: $accent;
  color: #ffffff;
  margin: 0;
  border: 0;
  width: 50%;
  height: 40px;
  float: left;

  &:hover {
    opacity: 0.8;
  }

  &:nth-child(1) {
    border-radius: 3px 0 0 3px;
    background: #aaaaaa;
  }

  &:nth-child(2) {
    border-radius: 0 3px 3px 0;
  }

  &:disabled {
    opacity: 0.4;
    color: #aaaaaa;
  }
}

.auth-modal__checkbox {
  display: flex;
  margin-top: 20px;
  color: #777777;
  align-items: center;
  font-size: 12px;

  & input {
    margin-right: 10px;
  }
}

.auth-modal__trems-link {
  margin-left: 5px;
  color: $accent;
  font-weight: 500;
}

.auth-modal__socials {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.auth-modal__google,
.auth-modal__google-reg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  border: 1px solid;
  border-radius: 3px;
}

.auth-modal__google,
.auth-modal__google-reg {
  border-color: #4285f4;
  color: #4285f4;
  margin-bottom: 10px;
}

.google-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.auth-modal__text {
  text-align: center;
  color: #777;
  margin-top: 20px;
  margin-bottom: 10px;
}

.auth-modal__form-container {
  position: relative;
}

.auth-modal__form-sign-eye {
  background-color: #fff;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 73px;
  right: 20px;
}

.auth-modal__form-reg-eye {
  background-color: #fff;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 73px;
  right: 20px;
}
