.footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
}

.footer__wrapper {
    padding-top: 29px;    
    padding-bottom: 29px;
    background-color: $footer-bg; 
    color: $secondary-text;

    @media screen and (max-width: 1023px) {
        padding-top: 15px;
        padding-bottom: 10px;        
    }
}
.footer__info {
    width:100%;      
    display:flex;    
    flex-direction: column;    
    justify-content: center;    
    align-items: center;    
    font-size: 14px;    
    font-weight: 400;    
    line-height: 1.17;    
    color: inherit;    
    
    @media screen and (min-width: $tablet) {
        flex-direction: row;        
        font-size: 16px;         
    }
}
.line {    
    display:inline-block;        
    border-right: solid 1px $secondary-text;    
    height: 13px;    
    margin-left: 5px;    
    margin-right:5px; 
}

.footer__info-text{
    @media screen and (max-width:767px) {
        margin-bottom: 10px; 
    }
}

.footer__info-team{    
    display:flex;    
    justify-content: center;    
    align-items: center;
}

.icon-heart {   
    fill: $accent;
    margin-left: 13px;    
    margin-right: 13px;    
    padding-bottom: 1px;
    opacity: 0.5;
    animation: ping 1.5s cubic-bezier(.36,1.83,.8,-0.99) infinite;    
    
    @media screen and (min-width:$tablet) {       
        margin-left:10px;        
        margin-right:10px;        
    }
}

@keyframes ping {  
    75%, 100% {    
        transform: scale(1.6);    
        opacity: 1; 
    }
}

.footer__team-button{    
    margin-left: 5px;
    color: inherit;    
    text-decoration: underline;  
    border: none;
    background-color: inherit;
    text-align: center;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $accent;
        transition: color 250ms $cubic;
    }
}

.footer__modal {
    overflow-y: auto;

    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    padding: 20px;

    background-color: rgba(0,0,0,0.6);

    @media screen and (max-width: 767px) {
        height: 100%;
    }

    @media screen and (min-width: $desktop) {
        padding: 0;
    }
}

.footer__modal-wrapper {
    position: relative;
    max-width: 1300px;
    margin: auto;
    // padding: 48px 20px;
    background-color: $white-text-and-bg;

    @media screen and (max-width: 1023px) {

        flex-direction: row;
        background-image: none;
    }

    @media screen and (min-width: $desktop) {
        top: 20%;
        padding-top: 300px;
        padding-bottom: 300px;
        background-image: url(../partials/img/movie.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    @media  screen and (max-width: 767px) {
    }
}

.member-list {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
    @media screen and(min-width: $tablet) {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-bottom: -10px;
    }

    @media screen and (max-width: 1023px) {
        background-color: #575757;
    }
}

.member-item {
    border-radius: 2px;

    @media screen and (min-width: $desktop) {
        position: absolute;
    }
    
    @media screen and (min-width: $tablet) and (max-width: 1023px) {
        position: relative;
        width: calc((100% - 30px) / 2);
        &:nth-child(-n+2) {
            padding-top: 20px;
        } 
    }

    @media screen and (max-width: 1023px) {
        padding-bottom: 20px;     
    }

    @media screen and (max-width: 767px) {
        &:first-child {
            padding-top: 20px;
        }
    }
}

#C1:hover .C1 {
    @media screen and (min-width: $desktop) {
        display: block;
    }
}
#C2:hover .C2 {
    @media screen and (min-width: $desktop) {
        display: block;
    }
}
#C3:hover .C3 {
    @media screen and (min-width: $desktop) {
        display: block;
    }
}
#C4:hover .C4 {
    @media screen and (min-width: $desktop) {
        display: block;
    }
}
#C5:hover .C5 {
    @media screen and (min-width: $desktop) {
        display: block;
    }
}
#C6:hover .C6 {
    @media screen and (min-width: $desktop) {
        display: block;
    }
}
#C7:hover .C7 {
    @media screen and (min-width: $desktop) {
        display: block;
    }
}
#C8:hover .C8 {
    @media screen and (min-width: $desktop) {
        display: block;
    }
}

#C1 {
    @media screen and (min-width: $desktop) {
        width: 67px;
        height: 75px;
        margin-bottom: -19%;
        z-index: 0;
    }
}

#C2 {
    @media screen and (min-width: $desktop) {
        width: 65px;
        height: 71px;
        margin-bottom: -19%;
        margin-left: -34.7%;
        z-index: 0;
    }
}

#C3 {
    @media screen and (min-width: $desktop) {
        width: 64px;
        height: 75px;
        margin-bottom: -19%;
        margin-right: -35%;
        z-index: 0;
    }
}

#C4 {
    @media screen and (min-width: $desktop) {
        width: 48px;
        height: 58px;
        margin-bottom: -11%;
        margin-right: -51%;
        z-index: 0;
    }
}

#C5 {
    @media screen and (min-width: $desktop) {
        width: 48px;
        height: 58px;
        margin-bottom: -11%;
        margin-left: -16%;
        z-index: 0;
    }
}

#C6 {
    @media screen and (min-width: $desktop) {
        width: 48px;
        height: 58px;
        margin-bottom: -11%;
        margin-right: -18.5%;
        z-index: 0;
    }
}

#C7 {
    @media screen and (min-width: $desktop) {
        width: 48px;
        height: 58px;
        margin-bottom: -10.5%;
        margin-left: -50.5%;
        z-index: 0;
    }
}

#C8 {
    @media screen and (min-width: $desktop) {
        width: 35px;
        height: 45px;
        margin-bottom: -7%;
        margin-left: -0.3%;
        z-index: 0;
    }
}

.C1 {
    @media screen and (min-width: $desktop) {
        position: absolute;
        margin-left: -150%;
        margin-top: -400%;   
    }
}

.C2 {
    @media screen and (min-width: $desktop) {
        position: absolute;
        margin-left: -200%;
        margin-top: -400%;   
    }
}

.C3 {
    @media screen and (min-width: $desktop) {
        position: absolute;
        margin-left: -100%;
        margin-top: -450%;   
    }
}

.C4 {
    @media screen and (min-width: $desktop) {
        position: absolute;
        margin-left: -100%;
        margin-top: -600%;   
    }
}

.C5 {
    @media screen and (min-width: $desktop) {
        position: absolute;
        margin-left: -120%;
        margin-top: -600%;   
    }
}

.C6 {
    @media screen and (min-width: $desktop) {
        position: absolute;
        margin-left: -100%;
        margin-top: -630%;   
    }
}

.C7 {
    @media screen and (min-width: $desktop) {
        position: absolute;
        margin-left: -100%;
        margin-top: -630%;   
    }
}

.C8 {
    @media screen and (min-width: $desktop) {
        position: absolute;
        margin-left: -330%;
        margin-top: -880%;   
    }
}

.member-card {
	line-height: 2;

    @media screen and (max-width: 1023px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../../src/partials/img/film.jpg);
        background-size: contain;
        background-repeat-x: no-repeat;
        background-position: center;
    }
    @media screen and (min-width: $desktop) {
        display: none;
        &:hover {
            display: block;
        }
    }
    @media screen and (min-width: $tablet) {
    height: 365px;
    }
    @media screen and (min-width: $tablet) and (max-width: 1023px) {
        height: 340px;
    }
    @media screen and (max-width: 767px) {
        background-size: cover;
    }
}

.member-photo {
    display:flex;
    justify-content: center;

    @media screen and (max-width: 1023px) {
    }

    @media screen and (min-width: $desktop) {     
        width: max-content;
    }
}

.photo {
    display: block;

    @media screen and (max-width: 1023px) {
        border-radius: 15px 15px 0 0;
        width: 50%;
    }

    @media screen and (min-width: $desktop) {
        border-radius: 50%;
    }
}

.member-description {
    line-height: 1.17;
    color: #fff;
    text-align: center;

    @media screen and (min-width: $desktop) {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 30px;
        background-color: rgba(47,48,58);;
    }
    
    @media screen and (max-width: 1023px) {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;
        height: 100%;
        padding-bottom: 5px;
        background-color: rgb(37, 37, 37, 0.4);
        border-radius: 0 0 15px 15px;
    }
}


.member-name {
    font-size: 16px;
    padding-top: 5px;
    margin-bottom: 5px;
    text-align: center;

    @media screen and (max-width: 1023px) {
        font-size: 20px;
    }
}

.member-role {
    text-align: center; 
}

.member-socials {
    padding-top: 5px;
    padding-bottom: 5px;
}

.socials-list {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}