.header-library__container {
  width: 100vw;
  height: 230px;
  margin-bottom: 20px;
  background-image: linear-gradient($for-grad-header-lib, $for-grad-header-lib),
    url(../partials/img/Rectangle_lib_x1.jpg);
  background-size: cover;
  @media screen and (min-width: $tablet) {
    margin-bottom: 60px;
    background-image: linear-gradient($for-grad-header-lib, $for-grad-header-lib),
      url(../partials/img/Rectangle_lib_tabl_x1.jpg);
    @media screen and (min-width: $desktop) {
      background-image: linear-gradient($for-grad-header-lib, $for-grad-header-lib),
        url(../partials/img/Rectangle_lib_desc_x1.jpg);
    }
  }
}

// .hide {
//   display: none;
// }

.user-registration-check-lib {
  cursor: pointer;
  fill: green;
  position: absolute;
  z-index: 1;
  top: 9px;
  right: 5px;
}

.user-registration-minus-lib {
  cursor: pointer;
  fill: red;
  position: absolute;
  z-index: 1;
  top: 9px;
  right: 5px;
}

.navi__buttons {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}

.navi__button {
  width: 130px;
  height: 44px;
  border: 0.5px solid $white-text-and-bg;
  border-radius: 5px;
  background-color: inherit;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 131%;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: $white-text-and-bg;
  &:last-child {
    margin-left: 20px;
  }
  &:hover,
  &:focus {
    background: #ff6b01;
    border: none;
  }
}
