.library {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}

.list {
    display: flex;
    flex-flow: row wrap;
    margin-right: -30px;
    margin-top: -30px;

    &__item {
        width: calc(100% / 3 - 30px);
        margin-right: 30px;
        margin-top: 30px;
    }
}

.item__img {
    border-radius: 5px;
}