.theme__switcher {
  position: absolute;
  background-color: #f2f2f3;
  box-shadow: 0 0 5px 2px #e3e3e4;
  top: 200px;
  right: 10px;
  height: 22px;
  width: 22px;
  border-radius: 15px;
}

.theme__switcher[data-theme='dark'] {
  color: #e3e3e4;
  background-color: #242424;
}
